.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 50px;
}

.infoContainer {
  background-color: rgba(169, 169, 169, 0.073);
  border-radius: 10px;
  max-width: 800px;
  padding: 40px 20px;
  span {
    color: rgba(86, 111, 224, 0.8);
    margin-right: 6px;
    font-size: 19px;
    font-weight: 600;
  }
  p {
    color: rgb(14, 13, 13);
    font-size: 18px;
    text-transform: capitalize;
  }
  div {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &:hover {
    transition: all 0.1s ease-in-out;
    box-shadow: 10px 10px 20px #e9e4e4b1, -5px -5px 25px #e9e4e4b1;
  }
}

.tableContainer {
  margin-top: 50px;
  &:hover {
    transition: all 0.1s ease-in-out;
    box-shadow: 10px 10px 20px #e9e4e4b1, -5px -5px 25px #e9e4e4b1;
  }
}
.btnContainer {
  background-color: rgba(169, 169, 169, 0.073);
  border-radius: 10px;
  padding: 20px 20px;
  margin-top: 30px;
  &:hover {
    transition: all 0.1s ease-in-out;
    box-shadow: 10px 10px 20px #e9e4e4b1, -5px -5px 25px #e9e4e4b1;
  }
  div {
    display: flex;
    gap: 20px;
    p {
      font-weight: 600;
      font-size: 17px;
    }
  }
}
