.container {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 60vw;
    input {
      padding: 14px 20px;
      border: 1px solid darkgray;
      border-radius: 10px;
    }
  }
}
.btnContainer {
  display: flex;
  width: 50vw;
  margin-bottom: 30px;
  justify-content: space-between;
}
